<p>olvidar works!</p>
<div class="row" style="margin-top: 2rem;">
    <div class="col"></div>
    <div class="col-5 border border-5">
        <h2>Olvide mi Contraseña: </h2>
        <form>
            <p class="text-muted">Digite el correo de su cuenta para la recuperacion.</p>
            <table class="table">

                <tr>
                    <td>MAIL:</td>
                    <td><input class="form-control" type="email" placeholder="Tu Correo" name="email" required></td>
                </tr>
                <tr>
                    <td>
                        <br>
                      <input class="btn btn-primary rounded" type="submit" value="Mandar Correo" name="enviar">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col"></div>
</div>