<p class="text-center">registro works!</p>

<div class="row" style="margin-top: 2rem;">
    <div class="col"></div>
    <div class="col-5 border border-5">
        <h1>Formulario de Registro: </h1>
        <form>
            <table class="table">
                <tr>
                    <td>NOMBRE:</td>
                    <td><input class="form-control" type="text" placeholder="Tu Nombre" name="nombre" required> </td>
                </tr>
                <tr>
                    <td>APELLIDO:</td>
                    <td><input class="form-control" type="text" placeholder="Tu Apellido" name="apellido" required> </td>
                  </tr>
                <tr>
                    <td>MAIL:</td>
                    <td><input class="form-control" type="email" placeholder="Tu Correo" name="email" required></td>
                </tr>
                <tr>
                    <td>CONTRASEÑA:</td>
                    <td><input class="form-control" type="password" placeholder="Tu Contraseña" name="password" required> </td>
                </tr>
                <br>
                <tr>
                    <td>
                      <input class="btn btn-primary rounded" type="submit" value="Enviar Datos" name="enviar">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col"></div>
</div>
