<p class="text-center">aventura works!</p>
<div class="container-fluid">
  <div class="card-group row row-cols-auto">
    <div *ngFor="let libro of libros; let iControl=index"> 
      <div class="card col-{breakpoint}-auto border border-dark" style="width: 15rem;" *ngIf="libro.genero === 'Aventura'">
        <img src={{libro.portada}} class="card-img-top" style="max-width: 100%; max-height: 300px;">
        <div class="card-body">
          <h5 class="card-title btn text-center mb-3 border border-primary border-3 rounded-4" data-bs-toggle="modal" data-bs-target="#modalId" (click)="pintarCard(libro.titulo, libro.portada, libro.autor, libro.publicacion, libro.genero, libro.resumen)">{{libro.titulo| slice:0:50}}</h5>
          <div class="row-2">
            <a class="btn btn-success mx-4 rounded-5" (click)="guardar(libro.id, libro.titulo)">+</a>
            <a class="btn btn-danger rounded-5" [href]="libro.descarga" target="_blank">Descargar</a>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>



<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalId" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-fluid modal-lg mx-auto" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">{{libroTitulo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Optional: Place to the bottom of scripts -->
        <div class="card" style="max-width: 1000px;">
          <div class="row">
            <div class="col-md-6">
              <div class="card-body">
                <h5 class="card-title">Autor: {{libroAutor}}</h5>
                <p class="card-text"><small class="text-muted">Fecha de Publicacion: {{libroPublicacion}}</small></p>
                <p class="card-text"><small class="text-muted">Genero: {{libroGenero}}</small></p>
                <p class="card">RESUMEN: {{libroResumen}}</p>
              </div>
            </div>
            <div class="col-md-6">
              <img [src]="libroPortada" style="max-height: 400px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
