<!--navBar-->

<nav class="navbar navbar-expand-lg" style="background-color: #d3f5f2;">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img class="border border-dark border-2 rounded-4" src="../assets/logoNav.jpg" alt="" width="300" height="65">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-primary fs-5 fw-semibold rounded-3" routerLink="/">Inicio</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-secondary fs-5 fw-semibold rounded-3" routerLink="/aventura">Aventura</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-success fs-5 fw-semibold rounded-3" routerLink="/ciencia">Ciencia</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-danger fs-5 fw-semibold rounded-3" routerLink="/educacion">Educacion</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-warning fs-5 fw-semibold rounded-3" routerLink="/ficcion">Ficcion</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-info fs-5 fw-semibold rounded-3" routerLink="/literatura">Literatura</button>
        </li>
        
      </ul>
      <ul class="navbar-nav me-left mb-2 mb-lg-0">
        <li class="nav-item">
          <button type="button" class="btn btn-outline-primary fs-5 fw-bold rounded-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
            {{estado}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container-fluid" style="background-color: #d3f5f2;">
  <div class="col" style="margin-left: 0rem; margin-top: 4rem;">
    <section class="sociallinks">
      <br>
      <p class="fw-bolder text-center" >Siguenos en Nuestras Redes Sociales</p>
      <div class="text-center">
          <a style="margin-left: 0rem;" href="https://www.facebook.com/" target="_blank">
            <img [src]="logo1" width=50>
          </a>
          <a style="margin-left: 2rem;" href="https://twitter.com/" target="_blank">
            <img [src]="logo2" width=50>
          </a>
          <a style="margin-left: 2rem;" href="https://www.instagram.com/" target="_blank">
            <img [src]="logo3" width=50>
          </a>
      </div>
    </section>
  </div>
  <br><br>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5 fw-bold mb-0" id="exampleModalLabel">Iniciar Sesion</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" required>
            <label for="floatingInput">Correo Electronico</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" required>
            <label for="floatingPassword">Contraseña</label>
          </div>
          <a class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" data-bs-dismiss="modal" routerLink="usuario" (click)="iniciado(1)">Entrar</a>
          <a class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary" data-bs-dismiss="modal" routerLink="olvidar">Olvide mi Contraseña</a>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">No tengo Cuenta:</h2>
        
          <button type="button" class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" data-bs-dismiss="modal" routerLink="registro">
            Registrarme
          </button>
          
          <small class="text-muted">Al hacer Clic en Registrar acepta los terminos de uso.</small>
        </form>
      </div>
    </div>
  </div>
</div>

<button class="floating-button" (click)="toggleChat()" data-bs-toggle="modal" data-bs-target="#myModal">
  <i class="fas fa-comment"></i> Chat
</button>

<div class="modal" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog modal-dialog-bottom-right">
      <div class="modal-content col-1">
          <!-- Contenido del modal -->
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="myModalLabel">Bienvenido al Chatbot!!!</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div>
              <p class="fw-bold ">Hola! Soy el Chatboy en que lo puedo ayudar hoy?</p>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Chat:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary" routerLink="chatbot" data-bs-dismiss="modal">Enviar</button>
          </div>
      </div>
  </div>
</div>
