<!--navBar-->

<nav class="navbar navbar-expand-lg" style="background-color: #d3f5f2;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/inicio">
      <img class="border border-dark border-2 rounded-4" src="../assets/logoNav.jpg" alt="" width="300" height="65">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-primary fs-5 fw-semibold rounded-3" routerLink="/">Inicio</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-secondary fs-5 fw-semibold rounded-3" routerLink="/aventura">Aventura</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-success fs-5 fw-semibold rounded-3" routerLink="/ciencia">Ciencia</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-danger fs-5 fw-semibold rounded-3" routerLink="/educacion">Educacion</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-warning fs-5 fw-semibold rounded-3" routerLink="/ficcion">Ficcion</button>
        </li>
        <li class="nav-item mx-3">
          <button type="button" class="btn btn-info fs-5 fw-semibold rounded-3" routerLink="/literatura">Literatura</button>
        </li>
        
      </ul>
      <ul class="navbar-nav me-left mb-2 mb-lg-0">
        <li class="nav-item">
          <div *ngIf="backendService.sinUsuario">
            <button type="button" class="btn btn-outline-primary fs-5 fw-bold rounded-5" (click)="modalSeccion(true)"> <!---->
              inicio secion
            </button>
          </div>
          <div *ngIf="backendService.usuarioAutenticado">
            <button type="button" class="btn btn-outline-primary fs-5 fw-bold rounded-5" routerLink="usuario">
              {{estado}}
            </button>
          </div>
          
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="container-fluid" style="background-color: #d3f5f2;">
  <div class="col" style="margin-left: 0rem; margin-top: 4rem;">
    <section class="sociallinks">
      <br>
      <p class="fw-bolder text-center" >Siguenos en Nuestras Redes Sociales</p>
      <div class="text-center">
          <a style="margin-left: 0rem;" href="https://www.facebook.com/" target="_blank">
            <img [src]="logo1" width=50>
          </a>
          <a style="margin-left: 2rem;" href="https://www.instagram.com/" target="_blank">
            <img [src]="logo2" width=50>
          </a>
          <a style="margin-left: 2rem;" href="https://twitter.com/" target="_blank">
            <img [src]="logo3" width=50>
          </a>
      </div>
    </section>
  </div>
  <br><br>
</div>


<!-- Modal -->
<div *ngIf="mostrarModal">
  <div class="modal-center">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5 fw-bold mb-3">Inicio Seccion</h2>
          <button type="button" class="btn-close" (click)="modalSeccion(false)" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formularioSeccion" (ngSubmit)="inicioSeccion()">
            <div class="form mb-4">
              <input required type="email" class="form-control rounded-3" id="" placeholder="Correo Electronico" formControlName="correo">
            </div>
            <div class="form mb-4">
              <input required type="password" class="form-control rounded-3" id="" placeholder="Contraseña" formControlName="contrasena">
            </div>
            <button type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" >Entrar</button>
            <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">No tengo Cuenta:</h2>
            
          
            <button type="button" class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" (click)="modalSeccion(false)" routerLink="registro">
              Registrarme
            </button>
            
            <small class="text-muted">Al hacer Clic en Registrar acepta los terminos de uso.</small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





<app-chatbot></app-chatbot>
