<p class="text-center">Sugerencias del chatbot!</p>
<div class="container-fluid">
    <div class="card-group row row-cols-auto">
      <div> <!--Aqui se ponen el *ngFor para cargar todas las cartas-->
        <div class="card col-{breakpoint}-auto border border-dark" style="width: 15rem;">
          <img src="https://picsum.photos/700/400?random" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title text-center mb-3 border border-primary border-3 rounded-4">Titulo del Libro</h5>
            <a class="btn btn-success mx-4 rounded-5">+</a>
            <a class="btn btn-danger rounded-5">Descargar</a>
          </div>
        </div>
      </div>
    </div> 
</div>