<div class="chat-container" *ngIf="chatVisible">
  <div id="carta-presntacion">
    <img
      class="librobot"
      src="../assets/R.png"
      alt=""
      width="300"
      height="65"
    />
    <p>¡Hola! Soy librobot tu aistente virtual. ¿En qué puedo ayudarte hoy?</p>
  </div>
  <div id="chat " class="chat-box">
    <p>tengo las siguientes Opciones para ti:</p>
    <ul>
      <li><a>1: Aventura</a></li>
      <li><a>2: Ciencia</a></li>
      <li><a>3: Educacion </a></li>
      <li><a>4: Ficcion </a></li>
      <li><a>5: Literatura</a></li>
    </ul>
    <div
      *ngFor="let message of getCombinedMessages()"
      class="message"
      [ngClass]="{ user: message.isUser, bot: !message.isUser }"
    >
      {{ message.content }}
    </div>
  </div>
  <div class="input-container">
    <textarea
      type="text"
      [(ngModel)]="inputText"
      (keyup.enter)="sendMessage()"
      class="chat-input"
      placeholder="Escribe tu mensaje..."
    ></textarea>
    <button (click)="sendMessage()" class="send-button">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>

<button id="chat-button" class="chat-button" (click)="toggleChat()">
  <i class="fa-solid fa-robot fa-bounce"></i>
</button>
